<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | freeCodeCamp</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" async src="./js/utils.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>Exercise tracker</h1>
      <form
        action="/api/users"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <h3>Create a New User</h3>
        <p><code>POST /api/users</code></p>
        <p>User name should be at least 5 lowercase letters and/or numbers.</p>
        <input
          id="uname"
          type="text"
          name="username"
          placeholder="username"
          pattern="[a-z0-9]+"
          minlength="5"
          title="At least 5 lowercase letters and/or numbers."
          required
        />
        <input type="submit" value="Submit" />
      </form>
      <form
        id="exercise-form"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <h3>Add exercises</h3>
        <p><code>POST /api/users/:_id/exercises</code></p>
        <input id="uid" type="text" name=":_id" placeholder=":_id" required />
        <input
          id="desc"
          type="text"
          name="description"
          placeholder="description*"
          pattern="\w+"
          title="Input can be letters and numbers."
          required
        />
        <input
          id="dur"
          type="number"
          name="duration"
          placeholder="duration* (mins.)"
          min="0"
          required
        />
        <input id="date" type="date" name="date" pattern="\d{4}-\d{2}-\d{2}" />
        <input type="submit" value="Submit" />
      </form>
      <div>
        <form
          id="delete-form"
          method="post"
          enctype="application/x-www-form-urlencoded"
        >
          <h3>Delete User</h3>
          <p><code>POST /api/users/:_id/delete</code></p>
          <input
            id="uid-to-delete"
            type="text"
            name="userid"
            placeholder="Please enter user id"
            required
          />
          <input type="submit" value="Delete" />
        </form>
      </div>
      <div class="user-list">
        <button id="user-list-btn" type="button">Get All Users!</button>
        <!-- <a href="/api/users">Get Users!</a> -->
      </div>
      <p>
        <strong>GET user's exercise log: </strong>
        <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
      </p>
      <p><strong>[ ]</strong> = optional</p>
      <p>
        <strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> =
        number
      </p>
    </div>
  </body>
</html>
